<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D475FE581C0AB6D00012B5FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D475FE711C0AB6D00012B5FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D475FE7C1C0AB6D00012B5FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
